.grida {
  /* min-width: 100%; */
  display: flex;
  flex-wrap: wrap;
}


.card {
  padding: 0;
    margin: 0;
}

.grid > div {
  min-height: 100%;
  flex-basis: calc(20% - 40px);
  flex-wrap: wrap;
  flex-direction: row;

}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box-items {
  background-position: center center;
  background-size: cover;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  width: 320px;
  height: 280px;
  max-height: 100vh;
  box-shadow: 0 5px 17px -7px rgba(0,0,0,0.75);  margin: 20px;
  cursor: pointer;
  transition: transform 100ms ease-in;
}

.box-items:hover {
  transform: scale(1.07);
}

.titi  {
  text-align: center;
  /* margin-top: 20px; */
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
}

.modal-header {
  color: blue;
}