.skills {
  flex-grow: 1;
}

.skills h1 {
  margin-bottom: 20px;
}

.content {
  display: grid;
  font-size: 24px;
  grid-template-columns: 1fr 1fr;
}

.content div {
  margin-bottom: 25px;
}

.content strong {
  line-height: 25px;
  padding-bottom: 15px;
  display: block;
}

.content li {
  margin: 0;
  margin-bottom: 10px;
}

.container-skills {
  max-width: 1200px;
}

.title-section {
  font-weight: 800;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2;
    text-align: center;
    font-family: "All Round Gothic";
    text-decoration: underline;
}

.skills-paragraph {
  font-size: 17px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.cards {
 display: flex;;
 justify-content: space-between;
 flex-wrap: wrap;
}

.cards > div {
  margin: 60px;
}

.card {
  margin-bottom: 20px;
  width: 50px;
  padding-bottom: 10px;
}

@media(max-width: 992px) {
  .cards {
    display: flex;
  }

  .container-skills{
    margin: 0 60px;
  }
}

/* @media (min-width: 800px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
} */

@media (max-width: 600px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
  .cards > div {
    margin: 10px;
}
}