.works {
  flex-grow: 1;
}

.works h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;;
  font-family: "All Round Gothic";
}

.works p {
  font-size: 1rem;
  color: gray;
}

.works h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;;
  font-family: "All Round Gothic";
  color: #ff75a0;
}
