footer {
  width: 100%;
  padding: 10px 0;
}

footer a {
  font-size: 24px;
  color: #313131;
  margin-right: 10px;
}

footer img {
  max-width: 60px;
}

footer img:not(:last-child) {
  margin-right: 10px;
}